@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#223046), to(#60A5FA));
  background: linear-gradient(to right, #223046, #60A5FA);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo {
  height: 60px;
  width: 60px;
}
.header__logo--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__logo--link:hover {
  color: rgb(238, 175, 202);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin: 0;
  height: 100%;
}
.header__nav-link {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  color: white;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}
.header__nav-link:hover {
  color: rgb(238, 175, 202);
  background: rgba(160, 220, 70, 0.1);
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.header__user-link {
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__user-link:hover {
  color: rgb(119, 8, 174);
}
@media (max-width: 980px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header__nav-list {
    width: 100%;
    text-align: left;
    gap: 20px;
    margin-top: 10px;
  }
  .header__nav-link {
    font-size: 16px;
    padding: 8px 0;
    width: 100%;
    text-align: left;
  }
  .header__user {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
  }
}