.about-us{
    
    &__title{
        margin-bottom: 20px;
        padding: 10px;
        font-size: 38px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }

    &__content{
        
        text-align: center;
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}